In [278]:
#This script is designed to automatically generate the primer barcode combinations for scATAC experiments

import pandas as pd
import numpy as np
table=pd.read_csv('MiSeqSampleTemplate.txt',delimiter='\t',skiprows=19)
Barcodes=pd.read_csv('NexteraBarcodeInfo2.txt',delimiter='\t',index_col=0)

In [279]:
Barcodes.head()

        Name  Sequence    Notes Version Orientation       Instrument
Number
1       N701  TAAGGCGA  Nextera      v1      i7_ad2  MiSeqAndNextSeq
2       N702  CGTACTAG  Nextera      v1      i7_ad2  MiSeqAndNextSeq
3       N703  AGGCAGAA  Nextera      v1      i7_ad2  MiSeqAndNextSeq
4       N704  TCCTGAGC  Nextera      v1      i7_ad2  MiSeqAndNextSeq
5       N705  GGACTCCT  Nextera      v1      i7_ad2  MiSeqAndNextSeq

In [280]:
Barcodes[(Barcodes.Name=='N502') & (Barcodes.Instrument=='MiSeq')]

        Name  Sequence    Notes Version Orientation Instrument
Number
2       N502  CTCTCTAT  Nextera      v1      i5_ad1      MiSeq

In [281]:
# I need to pull in variables from the user using argparse. What I need are the following
# version (v1 or v2)
# instrument (Miseq or NextSeq)
# Ad1Number (Row#)
# Ad2Number (Col#)
# I should make a note that Ad1MX is indexed as '0'

In [360]:
#If single-cell (generate dictionaries of primers):
#ad2_dict=dict(Barcodes[(Barcodes.Orientation=='i7_ad2') & (Barcodes.Version=='v2') & (Barcodes['Instrument'].str.contains('NextSeq'))]['Sequence'])
#ad1_dict=dict(Barcodes[(Barcodes.Orientation=='i5_ad1') & (Barcodes.Version=='v2') & (Barcodes['Instrument'].str.contains('NextSeq'))]['Sequence'])
#The top two work...

#ad2_dict=dict(Barcodes[(Barcodes.Orientation=='i7_ad2') & (Barcodes.Version=='v2') & (Barcodes['Instrument'].str.contains('NextSeq'))]['Name','Sequence'])
ad1_dict=dict(Barcodes[(Barcodes.Orientation=='i5_ad1') & (Barcodes.Version=='v2') & (Barcodes['Instrument'].str.contains('NextSeq'))])
ad2_dict=dict(Barcodes[(Barcodes.Orientation=='i7_ad2') & (Barcodes.Version=='v2') & (Barcodes['Instrument'].str.contains('NextSeq'))])

In [361]:
ad1_dict['Sequence'].loc[5]

'CTCCTTAC'

In [362]:
#Index by string finding
#Barcodes[Barcodes['Instrument'].str.contains('NextSeq')]

In [363]:
#Preliminary code combined into working code segment below
#b=[i*12+1 for i in range(8)]
#x=[]
#for i in b:
#    x.append(a[i])
#print x

In [365]:
# This is correctly formatted for ad2_i7
colNum = 5 #Make this a variable to be read in by argparse
x  = []    #change x to ad1
x2 = []
x3 = []
for i in [i*12+colNum for i in range(8)]:
    x.append(i)
    x2.append(ad2_dict['Sequence'].loc[i])
    x3.append(ad2_dict['Name'].loc[i])
x=x*12
x2=x2*12
x3=x3*12
print x
print type(x)
print len (x)
print x2
print x3

#ad1_dict['Sequence'].loc[5]

[5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89, 5, 17, 29, 41, 53, 65, 77, 89]
<type 'list'>
96
['GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC', 'GGACTCCT', 'GTGTGGTG', 'ATTGCCGG', 'TACACCTC', 'CATCCTGT', 'TAACAACA', 'GCCAATTC', 'CACTAGGC']
['N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089', 'N7005', 'N7017', 'N7029', 'N7041', 'N7053', 'N7065', 'N7077', 'N7089']

In [352]:
# This is correctly formatted for ad1_i5
RowNum = 5 #Make this a variable to be read in by argparse
y  = []
y2 = []
y3 = []
for i in [x+1 for x in range(8)]:
    for j in [x+1 for x in range(12)]:
        y.append(j+12*(RowNum-1)) 
        y2.append(ad1_dict['Sequence'].loc[j+12*(RowNum-1)])
        y3.append(ad1_dict['Name'].loc[j+12*(RowNum-1)])
print y
print type(y)
print len(y)
print y2
print y3

#ad1_dict['Sequence'].loc[5]

[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
<type 'list'>
96
['CACGTCTC', 'TTAGGCAA', 'CAAGTTAA', 'TGTTAAAG', 'GGTCTACG', 'CGCAAATA', 'TCCTGGAT', 'CAGGAACA', 'CTGCGCGT', 'TCGCCAGA', 'TGTAGATT', 'GGTCAGTA', 'CACGTCTC', 'TTAGGCAA', 'CAAGTTAA', 'TGTTAAAG', 'GGTCTACG', 'CGCAAATA', 'TCCTGGAT', 'CAGGAACA', 'CTGCGCGT', 'TCGCCAGA', 'TGTAGATT', 'GGTCAGTA', 'CACGTCTC', 'TTAGGCAA', 'CAAGTTAA', 'TGTTAAAG', 'GGTCTACG', 'CGCAAATA', 'TCCTGGAT', 'CAGGAACA', 'CTGCGCGT', 'TCGCCAGA', 'TGTAGATT', 'GGTCAGTA', 'CACGTCTC', 'TTAGGCAA', 'CAAGTTAA', 'TGTTAAAG', 'GGTCTACG', 'CGCAAATA', 'TCCTGGAT', 'CAGGAACA', 'CTGCGCGT', 'TCGCCAGA', 'TGTAGATT', 'GGTCAGTA', 'CACGTCTC', 'TTAGGCAA', 'CAAGTTAA', 'TGTTAAAG', 'GGTCTACG', 'CGCAAATA', 'TCCTGGAT', 'CAGGAACA', 'CTGCGCGT', 'TCGCCAGA', 'TGTAGATT', 'GGTCAGTA', 'CACGTCTC', 'TTAGGCAA', 'CAAGTTAA', 'TGTTAAAG', 'GGTCTACG', 'CGCAAATA', 'TCCTGGAT', 'CAGGAACA', 'CTGCGCGT', 'TCGCCAGA', 'TGTAGATT', 'GGTCAGTA', 'CACGTCTC', 'TTAGGCAA', 'CAAGTTAA', 'TGTTAAAG', 'GGTCTACG', 'CGCAAATA', 'TCCTGGAT', 'CAGGAACA', 'CTGCGCGT', 'TCGCCAGA', 'TGTAGATT', 'GGTCAGTA', 'CACGTCTC', 'TTAGGCAA', 'CAAGTTAA', 'TGTTAAAG', 'GGTCTACG', 'CGCAAATA', 'TCCTGGAT', 'CAGGAACA', 'CTGCGCGT', 'TCGCCAGA', 'TGTAGATT', 'GGTCAGTA']
['N5049', 'N5050', 'N5051', 'N5052', 'N5053', 'N5054', 'N5055', 'N5056', 'N5057', 'N5058', 'N5059', 'N5060', 'N5049', 'N5050', 'N5051', 'N5052', 'N5053', 'N5054', 'N5055', 'N5056', 'N5057', 'N5058', 'N5059', 'N5060', 'N5049', 'N5050', 'N5051', 'N5052', 'N5053', 'N5054', 'N5055', 'N5056', 'N5057', 'N5058', 'N5059', 'N5060', 'N5049', 'N5050', 'N5051', 'N5052', 'N5053', 'N5054', 'N5055', 'N5056', 'N5057', 'N5058', 'N5059', 'N5060', 'N5049', 'N5050', 'N5051', 'N5052', 'N5053', 'N5054', 'N5055', 'N5056', 'N5057', 'N5058', 'N5059', 'N5060', 'N5049', 'N5050', 'N5051', 'N5052', 'N5053', 'N5054', 'N5055', 'N5056', 'N5057', 'N5058', 'N5059', 'N5060', 'N5049', 'N5050', 'N5051', 'N5052', 'N5053', 'N5054', 'N5055', 'N5056', 'N5057', 'N5058', 'N5059', 'N5060', 'N5049', 'N5050', 'N5051', 'N5052', 'N5053', 'N5054', 'N5055', 'N5056', 'N5057', 'N5058', 'N5059', 'N5060']

In [289]:
# Now I need to figure out how to take x2 and y2 and put them in a new dataframe
# Make the indexing column the same as the one from 
#d = pd.DataFrame(data='index')

In [290]:
Barcodes.index.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24,  1,  2,  3,  4,  5,  6,  7,  8,  1,  2,
        3,  4,  5,  6,  7,  8,  0,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94,
       95, 96,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32,
       33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
       50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
       67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
       84, 85, 86, 87, 88, 89, 90, 91, 92,  1,  2,  3,  4,  5,  6,  7,  8,
        9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
       43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59,
       60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76,
       77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92])

In [319]:
CommonName='CellID-'
cols = ['Sample_ID','Sample_Name','Sample_Well','I7_Index_ID','index','I5_Index_ID','index2','Sample_Project','Description']
idx = [CommonName+str(i + 1) for i in range(96)]

In [320]:
PrimerSheet=pd.DataFrame(columns=cols,index=idx)

PrimerSheet.head()

,Sample_ID,Sample_Name,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Sample_Project,Description
CellID-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CellID-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CellID-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CellID-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CellID-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [367]:
PrimerSheet['I5_Index_ID']=y2
PrimerSheet['index']=y3
PrimerSheet['I7_Index_ID']=x2
PrimerSheet['index2']=x3
PrimerSheet.head()

,Sample_ID,Sample_Name,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Sample_Project,Description
CellID-1,NaN,NaN,NaN,GGACTCCT,N5049,CACGTCTC,N7005,NaN,NaN
CellID-2,NaN,NaN,NaN,GTGTGGTG,N5050,TTAGGCAA,N7017,NaN,NaN
CellID-3,NaN,NaN,NaN,ATTGCCGG,N5051,CAAGTTAA,N7029,NaN,NaN
CellID-4,NaN,NaN,NaN,TACACCTC,N5052,TGTTAAAG,N7041,NaN,NaN
CellID-5,NaN,NaN,NaN,CATCCTGT,N5053,GGTCTACG,N7053,NaN,NaN

In [ ]:
#I think that all that's left is to interface the script with argparse!!