In [3]:
#This script is designed to automatically generate the primer barcode combinations for scATAC experiments

import pandas as pd
import numpy as np
import datetime
table=pd.read_csv('MiSeqSampleTemplate.txt',delimiter='\t',skiprows=19)
Barcodes=pd.read_csv('NexteraBarcodeInfo2.txt',delimiter='\t',index_col=0)

In [7]:
#If single-cell (generate dictionaries of primers):

ad1_dict=dict(Barcodes[(Barcodes.Orientation=='i5_ad1') & (Barcodes.Version=='v2') & (Barcodes['Instrument'].str.contains('NextSeq'))])
ad2_dict=dict(Barcodes[(Barcodes.Orientation=='i7_ad2') & (Barcodes.Version=='v2') & (Barcodes['Instrument'].str.contains('NextSeq'))])

## First, get the barcodes for the first plate

In [227]:
#Plate 1 Ad1
rowNum = 5
p1Ad1 = [[12*rowNum + i for i in range(1,13)] for i in range(8)]
p1Ad1 = [i for row in p1Ad1 for i in row] #Flatten the nested lists
p1Ad1[0:18]

[61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 61, 62, 63, 64, 65, 66]

In [228]:
#Plate 1 Ad2
rowNum = 6
p1Ad2 = [[12*rowNum + j for i in range(1,13)] for j in range(1,9)]
p1Ad2 = [i for row in p1Ad2 for i in row] #Flatten the nested lists
p1Ad2[0:18]

[73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 74, 74, 74, 74, 74, 74]

In [229]:
#Plate day0
commonName = 'TwistER-day0'
barcodes = pd.DataFrame({
        'I7_Index_ID': list(ad2_dict['Name'].loc[p1Ad2]),
        'index': list(ad2_dict['Sequence'].loc[p1Ad2]),
        'I5_Index_ID': list(ad1_dict['Name'].loc[p1Ad1]),
        'index2': list(ad1_dict['Sequence'].loc[p1Ad1]),
        'Sample_ID': [commonName + '_sc' + str(i) for i in range(1,97)]
    })
barcodes.reset_index
barcodes = barcodes[['Sample_ID','I7_Index_ID','index','I5_Index_ID','index2']]
barcodes.head()

          Sample_ID I7_Index_ID     index I5_Index_ID    index2
0  TwistER-day0_sc1       N7073  ATTTATCT       N5061  CCCTATCG
1  TwistER-day0_sc2       N7073  ATTTATCT       N5062  TTCTAAGT
2  TwistER-day0_sc3       N7073  ATTTATCT       N5063  AGATCTCT
3  TwistER-day0_sc4       N7073  ATTTATCT       N5064  CCTTCACC
4  TwistER-day0_sc5       N7073  ATTTATCT       N5065  CATTCGAT

## Now the barcodes for the second plate

In [230]:
p2Ad1 = [[12*rowNum + i for i in range(1,13)] for i in range(8)]

In [231]:
#Plate 2 Ad1
rowNum = 6
p2Ad1 = [[12*rowNum + i for i in range(1,13)] for i in range(8)]
p2Ad1 = [i for row in p2Ad1 for i in row] #Flatten the nested lists
p2Ad1[0:18]

[73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 73, 74, 75, 76, 77, 78]

In [232]:
#Plate 2 Ad2
rowNum = 7
p2Ad2 = [[12*rowNum + j for i in range(1,13)] for j in range(1,9)]
p2Ad2 = [i for row in p2Ad2 for i in row] #Flatten the nested lists
p2Ad2[0:18]

[85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 86, 86, 86, 86, 86, 86]

In [233]:
#Plate day2
commonName = 'TwistER-day2'
barcodes2 = pd.DataFrame({
        'I7_Index_ID': list(ad2_dict['Name'].loc[p2Ad2]),
        'index': list(ad2_dict['Sequence'].loc[p2Ad2]),
        'I5_Index_ID': list(ad1_dict['Name'].loc[p2Ad1]),
        'index2': list(ad1_dict['Sequence'].loc[p2Ad1]),
        'Sample_ID': [commonName + '_sc' + str(i) for i in range(1,97)]
    })
barcodes2.reset_index
barcodes2 = barcodes[['Sample_ID','I7_Index_ID','index','I5_Index_ID','index2']]
barcodes2.head()

          Sample_ID I7_Index_ID     index I5_Index_ID    index2
0  TwistER-day0_sc1       N7073  ATTTATCT       N5061  CCCTATCG
1  TwistER-day0_sc2       N7073  ATTTATCT       N5062  TTCTAAGT
2  TwistER-day0_sc3       N7073  ATTTATCT       N5063  AGATCTCT
3  TwistER-day0_sc4       N7073  ATTTATCT       N5064  CCTTCACC
4  TwistER-day0_sc5       N7073  ATTTATCT       N5065  CATTCGAT

In [92]:
currDay = datetime.datetime.now().strftime("%Y%b%d")
saveDir='./'
fileName='PrimerSheet.csv'
#print saveDir + fileName
PrimerSheet.to_csv(saveDir + currDay + fileName,index=False)